<hr class="my-4">
<!-- Social icons -->
<div class="pb-4">
    <a href="https://www.facebook.com/shaynenguyen" target="_blank">
        <i class="fab fa-facebook-f mr-2"></i>
    </a>

    <a href="https://twitter.com/shayneng3" target="_blank">
        <i class="fab fa-twitter mr-2"></i>
    </a>

    <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fab fa-pinterest mr-2"></i>
    </a>

    <a href="https://github.com/sealbamboo" target="_blank">
        <i class="fab fa-github mr-2"></i>
    </a>

</div>
<!-- Social icons -->

<!--Copyright-->
<div class="footer-copyright py-3">
    © 2019 Copyright:
    <a href="/" target="_blank"> shaynenguyen-porfolio </a>
</div>
<!--/.Copyright-->