<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="/">
            <strong class="blue-text">ShayneN Porfolio.</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if page.title == 'Home' %} active {% endif %}">
                    <a class="nav-link waves-effect" href="{{ site.baseurl }}/">Home
                        <!-- {% if page.title == 'index '%}
                            <span class="sr-only">(current)</span>
                        {% endif %} -->
                    </a>
                </li>
                <li class="nav-item {% if page.title == 'About' %} active {% endif %}">
                    <a class="nav-link waves-effect" href="{{ site.baseurl }}/about">About</a>
                </li>
                <li class="nav-item {% if page.title == 'Projects' %} active {% endif %}">
                    <a class="nav-link waves-effect" href="{{ site.baseurl }}/projects">Projects</a>
                </li>
                <li class="nav-item {% if page.title == 'Contact' %} active {% endif %}">
                    <a class="nav-link waves-effect" href="{{ site.baseurl }}/contact">Contact</a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="https://www.facebook.com/shaynenguyen" class="nav-link waves-effect">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://twitter.com/shayneng3" class="nav-link waves-effect">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/sealbamboo/" class="nav-link border border-light rounded waves-effect">
                        <i class="fab fa-github mr-2"></i>Shayne GitHub
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>
<!-- Navbar -->