<section class="mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <img src="/assets/images/me_bw.jpg" class="img-fluid z-depth-1-half" alt="">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h2 class="h2 mb-0">Hải Nguyễn</h2>
            <h5>Data Analyst/ Data Scientist</h5>
            <hr class="my-3">
            <p class="text-justify">{{ content }}</p>
            <!-- Main heading -->
            <!-- <hr> -->
            <!-- CTA -->
            <!-- <a target="_blank" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" class="btn btn-grey btn-md waves-effect waves-light">Download
                  <i class="fas fa-download ml-1"></i>
                </a>
                <a target="_blank" href="https://mdbootstrap.com/docs/jquery/components/" class="btn btn-grey btn-md waves-effect waves-light">Live demo
                  <i class="far fa-image ml-1"></i>
                </a> -->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>