<section>
    <h2 class="my-5 h3 text-center">...and hobbies</h2>
    <!--First row-->
    <div class="row features-small mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
                <div class="col-2">
                    <i class="fas fa-camera fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2 pl-3">
                    <h5 class="feature-title font-bold mb-1">Photography</h5>
                    <p class="grey-text mt-2 text-justify">{{ page.hobbies-photography }}</p>
                </div>
            </div>
            <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
                <div class="col-2">
                    <i class="fas fa-donate fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2">
                    <h5 class="feature-title font-bold mb-1">Charity member</h5>
                    <p class="grey-text mt-2 text-justify">{{ page.hobbies-charity }}</p>
                </div>
            </div>
            <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
                <div class="col-2">
                    <i class="fas fa-pills fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2">
                    <h5 class="feature-title font-bold mb-1">A blood-donor</h5>
                    <p class="grey-text mt-2 text-justify">{{ page.hobbies-charity2 }}</p>
                </div>
            </div>
            <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
                <div class="col-2">
                    <i class="fas fa-hiking fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2">
                    <h5 class="feature-title font-bold mb-1">Hiking</h5>
                    <p class="grey-text mt-2 text-justify">{{ page.hobbies-hiking }}</p>
                </div>
            </div>
            <!--/Grid row-->
        </div>
        <!--/Grid column-->

    </div>
    <!--/First row-->
</section>