<section id="contact" class="section mb-5">

    <!-- Section heading -->
    <!-- <h3 class="text-center title mt-5 pt-4 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
        <strong>Contact Shayne</strong>
    </h3> -->

    <!-- Section sescription -->
    <p class="text-center grey-text mt-5 pt-4 mb-5 w-responsive mx-auto wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
        Feel free to drop me an message, email to discuss about exciting role, topic or any data scientist/web development projects. I am open to all opportunities.
    </p>

    <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

        <!-- Grid column -->
        <div class="col-md-8 col-lg-9">
            <form>
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-6">
                        <div class="md-form">
                            <div class="md-form">
                                <input type="text" id="form41" class="form-control">
                                <label for="form41" class="">Your name</label>
                            </div>
                        </div>
                    </div>

                    <!-- Grid column -->
                    <div class="col-md-6">
                        <div class="md-form">
                            <div class="md-form">
                                <input type="text" id="form52" class="form-control">
                                <label for="form52" class="">Your email</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <input type="text" id="form51" class="form-control">
                            <label for="form51" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="form76" class="md-textarea form-control" rows="3"></textarea>
                            <label for="form76">Your message</label>
                        </div>

                    </div>
                </div>
                <!-- Grid row -->
            </form>

            <div class="text-center text-md-left mb-5 mt-4">
                <a class="btn btn-rounded btn-primary waves-effect waves-light">Send</a>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3">
            <ul class="text-center list-unstyled float-md-right">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x title"></i>
                    <p>Sydney NSW 2000, AUS</p>
                </li>

                <li>
                    <i class="fas fa-phone fa-2x title"></i>
                    <p>
                        <a href="tel:+61497837646">+61-497-837-646</a>
                    </p>
                </li>

                <li>
                    <i class="fas fa-envelope fa-2x title"></i>
                    <p>
                        <a href="mailto:shaynenguyen@gmail.com">shaynenguyen@gmail.com</a>
                    </p>
                </li>
            </ul>
        </div>
        <!-- Grid column -->

    </div>
</section>